<h1>{{title}}</h1>

<nav>
	<a routerLink="/inicio" routerLinkActive="active" >Inicio</a>
	<a routerLink="/ver-post" routerLinkActive="active" >Ver Post</a>
</nav>

<router-outlet></router-outlet>

<footer>Pie de la página</footer>